
.parent{  
     width: 500px;
     height: 200px;
     margin-left: 200px;
     background-color: rgb(193, 221, 221);
     border: 1px solid rgb(193, 221, 221);
     border-radius: 5px;
    text-align: center;
    color:white
}
.ordered-item{
    font-size: 18px;
    color: crimson;
}
.order-batton{
    padding: 10px;
    background: cornflowerblue;
    box-sizing: border-box;
    border:1px solid cornflowerblue;
    border-radius: 5px;
    color: crimson;
    font-size: 20px;
    font-weight: bold;
}